<div class="jumbotron" >
  <div class="text-center" >
    <h1 class="display-4" > Aditya Chavan</h1>
    
    <h3>Frontend Developer</h3>
  </div>


  
    <div class="center-icons">
      <a href="https://www.linkedin.com/in/aditya-chavan2?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">
        <img src="../../assets/linkedin.png" width="32" height="32" class="rounded-circle me-2">
      </a>
      <a href="https://github.com/your-github-profile" target="_blank">
        <img src="../../assets/github.png" width="32" height="32" class="rounded-circle me-2">
      </a>
      <a href="https://www.instagram.com/your-instagram-profile" target="_blank">
        <img src="../../assets/instagram.png" width="32" height="32" class="rounded-circle me-2">
      </a>
    </div>
  </div>

